<html>
    <head>
        <title>file uploader</title>
    </head>
    <body>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" />
            <button type="submit">upload</button>
        </form>
    </body>
</html>