<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/header.css">

    <title>Welcome to DevMeetUps</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <main>
        <div class="controls">
            <form action="/meetups" method="GET">
                <button class="btn grey" type="submit">explore meetups</button>
            </form>
            <form action="/create-meetup" method="GET">
                <button class="btn blue" type="submit">organize a meetups</button>
            </form>
        </div>
        <div class="corusel">
            <h1>featured meetups</h1>
        </div>
    </main>
</body>
</html>