<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/profile.css">
    <link rel="stylesheet" href="./stylesheets/header.css">
    <title>My Profile</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <main>
        <div class="personalInfo">
            <div class="imageContainer">
                <img src="my-pic.jpg" alt="profile image">
            </div>
            <h4>pratik goyal</h4>
            <h4>goyal.pratik0304@gmail.com</h4>
        </div>
        <div class="my-meetups">
            <h1>MY MEETUPS</h1>
        </div>
    </main>
</body>
</html>